name: gh-ci-checks
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.type }}
  cancel-in-progress: true
on:
  pull_request:
    paths:
      - "**.py"
      - pyproject.toml
      - .github/workflows/main.yml
  push:
    branches: [main]
    paths:
      - "**.py"
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  style:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    strategy:
      matrix:
        poetry-version: [1.5.1]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
          architecture: "x64"

      - name: Install Poetry ${{ matrix.poetry-version }}
        uses: abatilo/actions-poetry@v2.3.0
        with:
          poetry-version: ${{ matrix.poetry-version }}

      - name: Install dependencies
        run: poetry install --only style

      # check formatting of the code style
      - name: Check code formatting
        run: poetry run poe format_check

      # this applies various linting
      - name: Lint codebase
        run: poetry run poe lint

      - name: Type check
        run: poetry run poe type_check

  build:
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        python-version: [3.9, "3.10", "3.11"]
        poetry-version: [1.5.1]
    name: build ${{ matrix.os }} - py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: "x64"
      - name: Install Poetry ${{ matrix.poetry-version }}
        uses: abatilo/actions-poetry@v2.3.0
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Install from source
        run: |
          poetry install
      - name: Test package install
        run: poetry run python -c "import dodiscover; print(dodiscover.__version__)"
      - name: Remove package install
        run: python -m pip uninstall -yq dodiscover
      - name: Check poetry lock file
        run: poetry update --dry-run
      - name: Build package
        run: poetry build
      - name: Upload package distribution files
        if: ${{ matrix.os == 'ubuntu' && matrix.python-version == '3.11' }}
        uses: actions/upload-artifact@v3
        with:
          name: package
          path: dist

      #
      # Test wheel-based Installation
      #
      - name: Install wheel
        run: pip install ./dist/*.whl
      - name: Test wheel install
        run: python -c "import dodiscover; print(dodiscover.__version__)"
      - name: Remove wheel install
        run: python -m pip uninstall -yq dodiscover

      #
      # Test sdist-based Installation
      #
      - name: Install sdist
        run: pip install ./dist/*.tar.gz
      - name: Test sdist install
        run: python -c "import dodiscover; print(dodiscover.__version__)"
      - name: Remove sdist install
        run: python -m pip uninstall -yq dodiscover

  test:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        python-version: [3.9, "3.11"] # oldest and newest supported versions
        poetry-version: [1.5.1]
        networkx: [stable, main]
    name: Unit-test ${{ matrix.os }} - py${{ matrix.python-version }} - Networkx ${{ matrix.networkx }}
    runs-on: ${{ matrix.os }}-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: "x64"
      - name: Install Poetry ${{ matrix.poetry-version }}
        uses: abatilo/actions-poetry@v2.3.0
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Install packages via poetry
        run: |
          poetry install --with test --extras graph_func
      - name: Install Networkx (main)
        if: "matrix.networkx == 'main'"
        run: |
          pip uninstall -yq networkx
          pip install --progress-bar off git+https://github.com/networkx/networkx
      - name: Run pytest
        run: poetry run poe unit_test
      - name: Upload coverage stats to codecov
        if: ${{ matrix.os == 'ubuntu' && matrix.python-version == '3.10' && matrix.networkx == 'stable' }}
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
          fail_ci_if_error: true
          verbose: true

  integration_test:
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu]
        python-version: ["3.10"] # oldest and newest supported versions
        poetry-version: [1.5.1]
        networkx: [main]
    name: Integration test ${{ matrix.os }} - py${{ matrix.python-version }} - Networkx ${{ matrix.networkx }}
    runs-on: ${{ matrix.os }}-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          architecture: "x64"
      - name: Install Poetry ${{ matrix.poetry-version }}
        uses: abatilo/actions-poetry@v2.3.0
        with:
          poetry-version: ${{ matrix.poetry-version }}

      - name: Install packages for Ubuntu
        run: |
          sudo apt-get update
          sudo apt-get install -y graphviz optipng libxft2 graphviz-dev
      
      - name: Setup torch
        run: |
          sudo apt-get install nvidia-cuda-toolkit nvidia-cuda-toolkit-gcc

      - name: Install Poetry Dynamic Versioning Plugin
        run: pip install poetry-dynamic-versioning
      - name: Install packages via poetry
        run: |
          poetry install --with test,docs --extras graph_func
      - name: Run pytest # headless via Xvfb on linux
        run: poetry run poe integration_test

  # release is ran when a release is made on Github
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [style, build, test]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
          architecture: "x64"
      - name: Install Poetry ${{ matrix.poetry-version }}
        uses: abatilo/actions-poetry@v2.3.0
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Install Poetry Dynamic Versioning Plugin
        run: pip install poetry-dynamic-versioning
      - name: Prepare environment
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV
          echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
      - name: Build the release artifact
        run: |
          poetry-dynamic-versioning
          poetry build
      - name: Download package distribution files
        uses: actions/download-artifact@v3
        with:
          name: package
          path: dist
      - name: Publish package to PyPI
        run: poetry publish --username ${{ secrets.PYPI_USERNAME }} --password ${{ secrets.PYPI_PASSWORD }}

      - name: Publish GitHub release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          # body_path: ${{ github.workspace }}-RELEASE_NOTES.md
          prerelease: ${{ contains(env.TAG, 'rc') }}
          files: |
            dist/*
